<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
                         viewport-fit=cover">
    <title>{{ if not .IsHome}}{{with .Title}}{{ . }} | {{ end }}{{ end }}
        {{ .Site.Title }}</title>
    <link rel="shortcut icon" href="/profile.jpg" />
    <meta name="description" content="{{ with .Description }}{{ . }}
                            {{ else }}{{ with .Summary }}{{ . }}{{ else }}
                            {{ .Site.Params.description }}{{end }}{{ end }} ">
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ $styles := resources.Get "/sass/main.scss" | resources.ToCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{$styles.Permalink}}" media="screen">
    <script src="https://kit.fontawesome.com/eaf29463d8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.turnjs.com/lib/turn.min.js"></script>
    {{ $reveal := resources.Get "/js/reveal.js" }}
    <script type="text/javascript" src="{{$reveal.Permalink}}"></script>
</head>
