$navbar-height: 2.75rem;
@import "bulma/bulma.sass";

@media (min-width: 1024px) {
    .navbar-item-main:hover {
        background-color: hsl(0,0%,15%) !important;
    }
}

.has-bg-img {
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-position: center center;
    height: 75vh;
}

@media (min-width: 2001px) {
    .has-bg-img {
        background-image: 
            url('/banner.jpg'),
            linear-gradient(to bottom, #f3a5bd, #f3a4bd, #f3a4bd, #f3a4bd, black, black, black, black);
        }
}

@media (max-width: 2000px) {
    .has-bg-img {
        background-image: 
            url('/banner-2000px.jpg'),
            linear-gradient(to bottom, #f3a5bd, #f3a4bd, #f3a4bd, #f3a4bd, black, black, black, black);
        }
}

@media (max-width: $widescreen - 1) {
    .has-bg-img {
        background-image: 
            url('/banner-1215px.jpg'),
            linear-gradient(to bottom, #f3a5bd, #f3a4bd, #f3a4bd, #f3a4bd, black, black, black, black);
        }
}

@media (max-width: $desktop - 1) {
    .has-bg-img {
        background-image: 
            url('/banner-1023px.jpg'),
            linear-gradient(to bottom, #f3a5bd, #f3a4bd, #f3a4bd, #f3a4bd, black, black, black, black);
        }
}

@media (max-width: $tablet - 1) {
    .has-bg-img {
        background-image: 
            url('/banner-800px.jpg'),
            linear-gradient(to bottom, #f3a5bd, #f3a4bd, #f3a4bd, #f3a4bd, black, black, black, black);
        }
}

@media (max-width: 480px) {
    .has-bg-img {
        background-image: 
            url('/banner-480px.jpg'),
            linear-gradient(to bottom, #f3a5bd, #f3a4bd, #f3a4bd, #f3a4bd, black, black, black, black);
        }
}

.spooky {
    background-image: url('/profile.jpg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-color: black;
    align-self: center;
    justify-self: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    margin: 0 0.5rem;
}

.index-container {
    padding: $section-padding;
}

.hero-foot {
    border-radius: 40px 40px 0 0;
    margin-top: 65vh;
    background-color: white;
}

.navbar-menu {
    transition: all 2s;
    animation: navAnimOpen .2s ease-in-out;
}

@keyframes navAnimOpen {
    0% {display: none; opacity: 0; max-height: 0;}
    1% {display: block; opacity: 0;}
    100% {opacity: 1; max-height: 10rem;}
}

.navbar-icon {
    padding-right: 0.25rem;
}


/*
 *
 * Turnpage styling
 *
 */


#flipbook {
    width: 840px;
    height: 649px;
    img {
        width: 420px;
        height: 649px;
    }

    .page {
        width: 420px;
        height: 649px;
        background-color: white;
    }
    .page-wrapper {
        -webkit-perspective: 2000px;
        -moz-perspective: 2000px;
        -ms-perspective: 2000px;
        -o-perspective: 2000px;
        perspective: 2000px;
    }
    .hard {
        background: #ccc !important;
        color: #333;
        -webkit-box-shadow: inset 0 0 5px #666;
        -moz-box-shadow: inset 0 0 5px #666;
        -o-box-shadow: inset 0 0 5px #666;
        -ms-box-shadow: inset 0 0 5px #666;
        box-shadow: inset 0 0 5px #666;
        font-weight: bold;
    }
    .odd {
        background: -webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
        background-image: linear-gradient(right, #FFF 95%, #C4C4C4 100%);
        background-image: -webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
        background-image: -moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
        background-image: -ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
        background-image: -o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
        -webkit-box-shadow: inset 0 0 5px #666;
        -moz-box-shadow: inset 0 0 5px #666;
        -o-box-shadow: inset 0 0 5px #666;
        -ms-box-shadow: inset 0 0 5px #666;
        box-shadow: inset 0 0 5px #666;
    }
    .even {
        background: -webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
        background-image: linear-gradient(right, #FFF 95%, #DADADA 100%);
        background-image: -webkit-linear-gradient(right, #FFF 95%, #DADADA 100%);
        background-image: -moz-linear-gradient(right, #FFF 95%, #DADADA 100%);
        background-image: -ms-linear-gradient(right, #FFF 95%, #DADADA 100%);
        background-image: -o-linear-gradient(right, #FFF 95%, #DADADA 100%);
        -webkit-box-shadow: inset 0 0 5px #666;
        -moz-box-shadow: inset 0 0 5px #666;
        -o-box-shadow: inset 0 0 5px #666;
        -ms-box-shadow: inset 0 0 5px #666;
        box-shadow: inset 0 0 5px #666;
    }
}

@media (max-width: 840px) {
    #flipbook {
        width: 420px;
        height: 649px;
        img {
            width: 420px;
            height: 649px;
        }

        .page {
            width: 420px;
            height: 649px;
            background-color: white;
        }
    }
}
@media (max-width: 767px) {
    #flipbook {
        width: 350px;
        height: 541px;
        img {
            width: 350px;
            height: 541px;
        }

        .page {
            width: 350px;
            height: 541px;
            background-color: white;
        }
    }
}

.script-iframe {
    width: 100%;
    height: 100vh;
    flex-grow: 1;
}

.bkg-image {
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
}

.hidden-content {
    display: none;
}

.pod-iframe {
    height: 102px;
    width: 400px;
    @media (max-width: 425px) {
        width: 100%;
    }
}
