<div class="box">
    <article class="media">
        <div class="media-left is-hidden-mobile is-align-self-center"
                id="iframe-{{ .Get "id"}}">
            <iframe 
                class="pod-iframe"
                src="https://anchor.fm/scawwyhowwowtheatre/embed/episodes/{{ .Get "url" }}" 
                frameborder="0" 
                scrolling="no"
                title="{{ .Get "id" }}">
            </iframe>
        </div>
        <div class="media-content">
            <div class="content">
            <div class="columns is-variable is-1">
                <div class="column is-narrow">
                    <h1 class="title is-4">{{ .Get "episode" }}</h1>
                </div>
                <div class="column">
                    <h1 class="subtitle is-4">
                    <span class="m-1 has-text-primary is-italic has-text-weight-light">{{ .Get "desc" }}</span>
                    </h1>
                </div>
            </div>
                <p>
                <span class="is-hidden-tablet">
                <a href="https://anchor.fm/scawwyhowwowtheatre/episodes/{{ .Get "url" }}">Listen</a>
                / </span>
                <a href="{{ .Get "transcript" }}" target="_blank" rel="noopener noreferrer">Transcript</a> / 
                <a onclick="revealHidden(this,{{ .Get "id" }})">Details</a></p>
                <div class="hidden-content is-size-5" id="{{ .Get "id" }}">
                    <hr />
                    <div class="columns">
                   {{ .Inner }}
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
