<!DOCTYPE html>
<html>
<head>
<style>
body{background-color:gray}
div{margin:1em auto}
html{transform: scale(0.5); transform-origin: top left;}
</style>
</head>
<body>
<div id="page1" style="position:relative;width:612pt;height:792pt;background-color:white">
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:35pt;left:532pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">1</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:72pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:27.96pt">Untitled [Redacted]: Episode </span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:103pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:27.96pt">1</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:135pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt;color:#6d6d6d">By Nicholas Tran</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:180pt;left:288pt"><tt><i><span style="font-family:CourierNewPS,monospace;font-size:12pt">Rustling Noise. Footsteps.</span></i></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:203pt;left:288pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">KEITH</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:226pt;left:108pt"><tt><i><span style="font-family:CourierNewPS,monospace;font-size:12pt">Panting</span></i></tt><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">.</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:271pt;left:288pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">KAREN</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:294pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">Hurry up!</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:339pt;left:288pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">KEITH</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:362pt;left:108pt"><tt><i><span style="font-family:CourierNewPS,monospace;font-size:12pt">Groaning.</span></i></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:384pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">We&#x2019;ve been walking for hours! Is this place really worth all of </span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:399pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">this?</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:444pt;left:288pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">KAREN</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:467pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">Absolutely! It&#x2019;s in the middle of nowhere and it&#x2019;s a completely </span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:482pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">empty house. We&#x2019;re going to be able to light it up without </span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:496pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">having to worry.</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:542pt;left:288pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">KEITH</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:564pt;left:108pt"><tt><i><span style="font-family:CourierNewPS,monospace;font-size:12pt">Groaning</span></i></tt><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">.</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:587pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">You better be right about this, or your parents are going to </span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:602pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">bail us out this time.</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:647pt;left:288pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">KAREN</span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:670pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">Trust me, this place is gonna be great! Now hurry up!</span></tt><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt"> You&#x2019;re </span></tt></p>
<p style="position:absolute;white-space:pre;margin:0;padding:0;top:684pt;left:72pt"><tt><span style="font-family:CourierNewPSMT,monospace;font-size:12pt">such a slowpoke!</span></tt></p>
</div>
</body>
</html>
